body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1016 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:600px;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:600px;
}
#u1016_ref {
  position:absolute;
  left:993px;
  top:600px;
  width:1px;
  height:1px;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:599px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  position:absolute;
  left:10px;
  top:11px;
  width:991px;
  height:599px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:292px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1021 {
  position:absolute;
  left:200px;
  top:173px;
  width:611px;
  height:275px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:130px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:200px;
  top:173px;
  width:611px;
  height:28px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:6px;
  width:607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1025 {
  position:absolute;
  left:783px;
  top:178px;
  width:13px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1027 {
  position:absolute;
  left:227px;
  top:218px;
  width:559px;
  height:181px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:32px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:32px;
  color:#FFFFFF;
}
#u1029 {
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
}
#u1030 {
  position:absolute;
  left:214px;
  top:0px;
  width:181px;
  height:32px;
  color:#FFFFFF;
}
#u1031 {
  position:absolute;
  left:2px;
  top:8px;
  width:177px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
}
#u1032 {
  position:absolute;
  left:395px;
  top:0px;
  width:159px;
  height:32px;
  color:#FFFFFF;
}
#u1033 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:32px;
  width:214px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:214px;
  top:32px;
  width:181px;
  height:30px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u1038 {
  position:absolute;
  left:395px;
  top:32px;
  width:159px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:27px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:62px;
  width:214px;
  height:27px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:6px;
  width:210px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u1042 {
  position:absolute;
  left:214px;
  top:62px;
  width:181px;
  height:27px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u1044 {
  position:absolute;
  left:395px;
  top:62px;
  width:159px;
  height:27px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:89px;
  width:214px;
  height:30px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:214px;
  top:89px;
  width:181px;
  height:30px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:395px;
  top:89px;
  width:159px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:119px;
  width:214px;
  height:30px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u1054 {
  position:absolute;
  left:214px;
  top:119px;
  width:181px;
  height:30px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u1056 {
  position:absolute;
  left:395px;
  top:119px;
  width:159px;
  height:30px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:27px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:149px;
  width:214px;
  height:27px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:6px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u1060 {
  position:absolute;
  left:214px;
  top:149px;
  width:181px;
  height:27px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u1062 {
  position:absolute;
  left:395px;
  top:149px;
  width:159px;
  height:27px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1064 {
  position:absolute;
  left:219px;
  top:176px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:227px;
  top:410px;
  width:123px;
  height:16px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1068 {
  position:absolute;
  left:504px;
  top:410px;
  width:276px;
  height:16px;
  text-align:right;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
