body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u963 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:600px;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:600px;
}
#u963_ref {
  position:absolute;
  left:993px;
  top:600px;
  width:1px;
  height:1px;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:599px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:10px;
  top:11px;
  width:991px;
  height:599px;
}
#u965 {
  position:absolute;
  left:2px;
  top:292px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:271px;
  top:156px;
  width:480px;
  height:268px;
}
#u968 {
  position:absolute;
  left:2px;
  top:126px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  position:absolute;
  left:271px;
  top:156px;
  width:480px;
  height:28px;
}
#u970 {
  position:absolute;
  left:2px;
  top:6px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u971 {
  position:absolute;
  left:729px;
  top:161px;
  width:13px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u973 {
  position:absolute;
  left:286px;
  top:201px;
  width:455px;
  height:187px;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u976 {
  position:absolute;
  left:114px;
  top:0px;
  width:127px;
  height:32px;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
}
#u978 {
  position:absolute;
  left:241px;
  top:0px;
  width:209px;
  height:32px;
  color:#FFFFFF;
}
#u979 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u980 {
  position:absolute;
  left:0px;
  top:32px;
  width:114px;
  height:30px;
}
#u981 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u982 {
  position:absolute;
  left:114px;
  top:32px;
  width:127px;
  height:30px;
}
#u983 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u984 {
  position:absolute;
  left:241px;
  top:32px;
  width:209px;
  height:30px;
}
#u985 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u986 {
  position:absolute;
  left:0px;
  top:62px;
  width:114px;
  height:30px;
}
#u987 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u988 {
  position:absolute;
  left:114px;
  top:62px;
  width:127px;
  height:30px;
}
#u989 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u990 {
  position:absolute;
  left:241px;
  top:62px;
  width:209px;
  height:30px;
}
#u991 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u992 {
  position:absolute;
  left:0px;
  top:92px;
  width:114px;
  height:30px;
}
#u993 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u994 {
  position:absolute;
  left:114px;
  top:92px;
  width:127px;
  height:30px;
}
#u995 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u996 {
  position:absolute;
  left:241px;
  top:92px;
  width:209px;
  height:30px;
}
#u997 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u998 {
  position:absolute;
  left:0px;
  top:122px;
  width:114px;
  height:30px;
}
#u999 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:114px;
  top:122px;
  width:127px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:241px;
  top:122px;
  width:209px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:152px;
  width:114px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:114px;
  top:152px;
  width:127px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:241px;
  top:152px;
  width:209px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1010 {
  position:absolute;
  left:286px;
  top:159px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:284px;
  top:397px;
  width:123px;
  height:16px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1014 {
  position:absolute;
  left:511px;
  top:397px;
  width:226px;
  height:16px;
  text-align:right;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
