<div class="modal-header" style="border: none !important;min-height: 50px;background-color: #27242b;border-radius: 6px 6px 0px 0px;">
    <div style="position: absolute;left: 20px;font-size: 18px;line-height: 1em;color: white;">新增账号</div>
    <a type="button"  class="close" style="margin-top: -5px;margin-right: -3px;" ng-click="exit()"><img src="app/img/colse-model.png" alt="X"></a>
</div>

<div class="modal-body" style="padding: 20px 20px 10px 20px;">
    <div class=" col-lg-12" style="border: 1px solid #e6e1e1;padding-top: 40px;padding-bottom: 50px;margin-bottom: 10px;">
        <div class="col-md-12" >
            <div class="col-md-3 required" style="line-height: 33px;" >账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</div>
            <div class="col-md-9" style="margin-left: -40px;" >
                <input id="account" maxlength="32" type="text" ng-model="model.account" ng-focus="true" class="form-control" placeholder="请输入5~16位账号（仅支持数字字母）">
            </div>
        </div>
        <div class="col-md-12 {{error.pwd?'has-error':''}}" style="margin-top: 16px;">
            <div class="col-md-3 required" style="line-height: 33px;">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</div>
            <div class="col-md-9" style="margin-left: -40px;">
                <input uib-popover="{{error.pwd}}" popover-trigger="focus" popover-title="{{'common.error'|translate}}" id="pwd" type="password"  maxlength="32" ng-model="model.pwd" class="form-control" placeholder="请输入5~16位密码">
            </div>
        </div>
        <div class="col-md-12 {{error.confirm?'has-error':''}}" style="margin-top: 16px;">
            <div class="col-md-3 required" style="line-height: 33px;">确认密码</div>
            <div class="col-md-9" style="margin-left: -40px;">
                <input uib-popover="{{error.confirm}}" popover-trigger="focus" popover-title="{{'common.error'|translate}}" id="look" type="password"  maxlength="32" ng-model="model.confirm" class="form-control" placeholder="请再次输入密码">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="border: none !important;margin-top: 254px;padding-bottom: 30px;">
    <a class="btn btn-default pull-left" ng-click="confirm(model)" style="width: 80px; border-radius: 5px;margin-left: 204px;background: linear-gradient(#225288, #052973);border: none;color: #ffffff;">提交</a>
    <a class="btn btn-default pull-right" ng-click="exit()" style="width: 80px; border-radius: 5px;margin-right: 196px;background: linear-gradient(#d8d5d5, #959595);border: none;">取消</a>
</div>




