body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u857 {
  position:absolute;
  left:10px;
  top:10px;
  width:991px;
  height:600px;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:600px;
}
#u857_ref {
  position:absolute;
  left:993px;
  top:600px;
  width:1px;
  height:1px;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:599px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:10px;
  top:11px;
  width:991px;
  height:599px;
}
#u859 {
  position:absolute;
  left:2px;
  top:292px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:282px;
  top:182px;
  width:480px;
  height:274px;
}
#u862 {
  position:absolute;
  left:2px;
  top:129px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:282px;
  top:182px;
  width:480px;
  height:28px;
}
#u864 {
  position:absolute;
  left:2px;
  top:6px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u865 {
  position:absolute;
  left:740px;
  top:187px;
  width:13px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u867 {
  position:absolute;
  left:303px;
  top:227px;
  width:455px;
  height:187px;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
  color:#FFFFFF;
}
#u869 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u870 {
  position:absolute;
  left:114px;
  top:0px;
  width:127px;
  height:32px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
}
#u872 {
  position:absolute;
  left:241px;
  top:0px;
  width:209px;
  height:32px;
  color:#FFFFFF;
}
#u873 {
  position:absolute;
  left:2px;
  top:8px;
  width:205px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u874 {
  position:absolute;
  left:0px;
  top:32px;
  width:114px;
  height:30px;
}
#u875 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u876 {
  position:absolute;
  left:114px;
  top:32px;
  width:127px;
  height:30px;
}
#u877 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u878 {
  position:absolute;
  left:241px;
  top:32px;
  width:209px;
  height:30px;
}
#u879 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u880 {
  position:absolute;
  left:0px;
  top:62px;
  width:114px;
  height:30px;
}
#u881 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u882 {
  position:absolute;
  left:114px;
  top:62px;
  width:127px;
  height:30px;
}
#u883 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u884 {
  position:absolute;
  left:241px;
  top:62px;
  width:209px;
  height:30px;
}
#u885 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u886 {
  position:absolute;
  left:0px;
  top:92px;
  width:114px;
  height:30px;
}
#u887 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u888 {
  position:absolute;
  left:114px;
  top:92px;
  width:127px;
  height:30px;
}
#u889 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u890 {
  position:absolute;
  left:241px;
  top:92px;
  width:209px;
  height:30px;
}
#u891 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u892 {
  position:absolute;
  left:0px;
  top:122px;
  width:114px;
  height:30px;
}
#u893 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u894 {
  position:absolute;
  left:114px;
  top:122px;
  width:127px;
  height:30px;
}
#u895 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u896 {
  position:absolute;
  left:241px;
  top:122px;
  width:209px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u898 {
  position:absolute;
  left:0px;
  top:152px;
  width:114px;
  height:30px;
}
#u899 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u900 {
  position:absolute;
  left:114px;
  top:152px;
  width:127px;
  height:30px;
}
#u901 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u902 {
  position:absolute;
  left:241px;
  top:152px;
  width:209px;
  height:30px;
}
#u903 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u904 {
  position:absolute;
  left:297px;
  top:185px;
  width:68px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:300px;
  top:421px;
  width:123px;
  height:16px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u908 {
  position:absolute;
  left:527px;
  top:421px;
  width:226px;
  height:16px;
  text-align:right;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
